.external p {
    background-color: #00FF00; /* Зелений фон */
    border: 2px solid rgb(0, 104, 0); /* Рамка кольору з RGB значенням (0, 104, 0) */
    padding: 10px; /* Відступ всередині рамки навколо тексту */
    display: inline-block; /* Відображення як вбудований блок, щоб рамка була навколо тексту */
}

/* Підсвітка при наведенні мишкою */
.external p:hover {
    background-color: #99FF99; /* Зміна фону на світло-зелений при наведенні */
}
